html 
    head
        include ./header
        title Home 

    body 
        div(style="text-align: center;")
            h1 Express Restaurant Manager
            h3 Welcome to the Express Restuarant manager.